<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CarouselMapper">
    
    <resultMap type="Carousel" id="CarouselResult">
        <result property="id"    column="id"    />
        <result property="headerUrl"    column="header_url"    />
        <result property="shows"    column="shows"    />
        <result property="title"    column="title"    />
        <result property="url"    column="url"    />
    </resultMap>

    <sql id="selectCarouselVo">
        select id, header_url, is_show as shows, title, url from carousel
    </sql>

    <select id="selectCarouselList" parameterType="Carousel" resultMap="CarouselResult">
        <include refid="selectCarouselVo"/>
        <where>  
            <if test="shows != null "> and is_show = #{shows}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
        </where>
    </select>
    
    <select id="selectCarouselById" parameterType="Long" resultMap="CarouselResult">
        <include refid="selectCarouselVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCarousel" parameterType="Carousel" useGeneratedKeys="true" keyProperty="id">
        insert into carousel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="headerUrl != null and headerUrl != ''">header_url,</if>
            <if test="shows != null">is_show,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="url != null">url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="headerUrl != null and headerUrl != ''">#{headerUrl},</if>
            <if test="shows != null">#{shows},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="url != null">#{url},</if>
         </trim>
    </insert>

    <update id="updateCarousel" parameterType="Carousel">
        update carousel
        <trim prefix="SET" suffixOverrides=",">
            <if test="headerUrl != null and headerUrl != ''">header_url = #{headerUrl},</if>
            <if test="shows != null">is_show = #{shows},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="url != null">url = #{url},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCarouselById" parameterType="Long">
        delete from carousel where id = #{id}
    </delete>

    <delete id="deleteCarouselByIds" parameterType="String">
        delete from carousel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>