<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.bean.OrderBeanMapper">


    <select id="initOrderBean" resultType="com.ruoyi.system.bean.OrderBean">
        select SUM(money) as totalMoney, count(*) as totalOrders from orders where create_time >= #{timestamp}
    </select>
    <select id="initOrderVO" resultType="com.ruoyi.system.bean.vo.OrderVO">
        select DATE_FORMAT(create_time,'%y/%m/%d') as time, sum(money) as money from orders GROUP BY  time ORDER BY time asc
    </select>

</mapper>