<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PayOrderMapper">
    
    <resultMap type="PayOrder" id="PayOrderResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="payType"    column="pay_type"    />
        <result property="userId"    column="user_id"    />
        <result property="username"    column="username"    />
        <result property="createTime"    column="create_time"    />
        <result property="money"    column="money"    />
        <result property="phone"    column="phone"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectPayOrderVo">
        select id, order_id, pay_type, user_id, username, create_time, money, phone, status from pay_order
    </sql>

    <select id="selectPayOrderList" parameterType="PayOrder" resultMap="PayOrderResult">
        <include refid="selectPayOrderVo"/>
        <where>  
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectPayOrderById" parameterType="Integer" resultMap="PayOrderResult">
        <include refid="selectPayOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPayOrder" parameterType="PayOrder" useGeneratedKeys="true" keyProperty="id">
        insert into pay_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null and orderId != ''">order_id,</if>
            <if test="payType != null and payType != ''">pay_type,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="createTime != null">create_time,</if>
            <if test="money != null">money,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null and orderId != ''">#{orderId},</if>
            <if test="payType != null and payType != ''">#{payType},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="money != null">#{money},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updatePayOrder" parameterType="PayOrder">
        update pay_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null and orderId != ''">order_id = #{orderId},</if>
            <if test="payType != null and payType != ''">pay_type = #{payType},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="money != null">money = #{money},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePayOrderById" parameterType="Integer">
        delete from pay_order where id = #{id}
    </delete>

    <delete id="deletePayOrderByIds" parameterType="String">
        delete from pay_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>