<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WxUserMapper">
    
    <resultMap type="WxUser" id="WxUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="phone"    column="phone"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="headerImg"    column="header_img"    />
        <result property="grande"    column="grande"    />
        <result property="money"    column="money"    />
        <result property="version"    column="version"    />
        <result property="idcard"    column="idcard"    />
        <result property="famount"    column="famount"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectWxUserVo">
        select id, username, password, phone, user_id, create_time, update_time, header_img, grande, money, version, famount, name from wx_user
    </sql>

    <select id="selectWxUserList" parameterType="WxUser" resultMap="WxUserResult">
        <include refid="selectWxUserVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="grande != null "> and grande = #{grande}</if>
            <if test="famount != null "> and famount = #{famount}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectWxUserById" parameterType="Long" resultMap="WxUserResult">
        <include refid="selectWxUserVo"/>
        where id = #{id}
    </select>
    <select id="selectAllNum" resultType="java.lang.Integer">
        select count(*) from wx_user where create_time > #{time}
    </select>

    <insert id="insertWxUser" parameterType="WxUser" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="phone != null">phone,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="headerImg != null and headerImg != ''">header_img,</if>
            <if test="grande != null">grande,</if>
            <if test="money != null">money,</if>
            <if test="version != null">version,</if>
            <if test="idcard != null">idcard,</if>
            <if test="famount != null">famount,</if>
            <if test="name != null and name != ''">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="phone != null">#{phone},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="headerImg != null and headerImg != ''">#{headerImg},</if>
            <if test="grande != null">#{grande},</if>
            <if test="money != null">#{money},</if>
            <if test="version != null">#{version},</if>
            <if test="idcard != null">#{idcard},</if>
            <if test="famount != null">#{famount},</if>
            <if test="name != null and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateWxUser" parameterType="WxUser">
        update wx_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="headerImg != null and headerImg != ''">header_img = #{headerImg},</if>
            <if test="grande != null">grande = #{grande},</if>
            <if test="money != null">money = #{money},</if>
            <if test="version != null">version = #{version},</if>
            <if test="idcard != null">idcard = #{idcard},</if>
            <if test="famount != null">famount = #{famount},</if>
            <if test="name != null and name != ''">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxUserById" parameterType="Long">
        delete from wx_user where id = #{id}
    </delete>

    <delete id="deleteWxUserByIds" parameterType="String">
        delete from wx_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>