<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.plus.mapper.wx.ArrearsMapper">

    <select id="getArrearsMap" resultType="java.util.Map">
        select orders.* from arrears LEFT JOIN orders on arrears.order_id=orders.order_id where arrears.user_id=#{userId}
    </select>
    <resultMap id="one" type="com.ruoyi.system.domain.wx.Arrears">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="money" property="money" />
        <result column="order_id" property="orderId" />
        <result column="goods_name" property="goodsName" />
        <result column="username" property="username" />
        <result column="create_time" property="createTime" />
        <result column="arruser_id" property="arrUserid" />
        <association property="me" javaType="com.ruoyi.system.domain.WxUser" >
            <id column="uid" property="id" />
            <result column="uname" property="username" />
            <result column="uuserid" property="userId"/>
            <result column="umoney" property="decimals" />
            <result column="uv" property="version"/>
        </association>
    </resultMap>
    <select id="getUserArre" resultMap="one">
        select arr.*,u.id as uid,u.username as uname,u.phone as phone,u.user_id as uuserid,u.money as umoney,u.version as uv from arrears as arr LEFT JOIN user as u on arr.user_id=u.user_id where arr.id=#{id}
    </select>
</mapper>