<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myxiaowang.logistics.dao.LogisticsMapper">

    <resultMap id="orders" type="com.myxiaowang.logistics.pojo.Logistics">
        <id column="id" property="id" />
        <result column="logistics_id" property="logistics"/>
        <result column="user_id" property="userId" />
        <result column="goods" property="goods"/>
        <result column="create_time" property="createTime" />
        <result column="over_time" property="overTime" />
        <result column="money" property="money" />
        <result column="getuser" property="getUser" />
        <result column="status" property="status" />
        <result column="code" property="code" />
        <association javaType="com.myxiaowang.logistics.pojo.Order" property="order">
            <id column="oid" property="id" />
            <result column="username" property="userName" />
            <result column="address" property="address" />
            <result column="phone" property="phone" />
            <result column="goods" property="goodsName" />
            <result column="logistics_id" property="orderId" />
        </association>
    </resultMap>
    <select id="getUserLogistics" resultMap="orders">
        select l1.*,l2.id as oid,l2.username,l2.address,l2.phone from logistics as l1 left join orders as l2 on l1.logistics_id=l2.order_id
           where  l1.user_id=#{userId}
            <if test="0 == type">
                 and l1.status=1
            </if>
            <if test="1 == type">
                and ( l1.status=2 or l1.status=3 )
            </if>
    </select>
</mapper>