<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myxiaowang.logistics.dao.TxMapper">

    <select id="getUserTx" resultType="com.myxiaowang.logistics.pojo.Tx">
        select * from tb_tx where user_id=#{userId}
    </select>
</mapper>