<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myxiaowang.logistics.dao.UserMapper">

    <select id="getUser" resultType="com.myxiaowang.logistics.pojo.User">
        select s1.*, s2.arre
        from (
                 select user.id,
                        user.idcard,
                        user.password,
                        user.name,
                        user.money      as decimals,
                        user.header_img as headerImage,
                        user.grande     as sex,
                        user.phone,
                        user.create_time,
                        user.update_time,
                        user.username,
                        user.user_id,
                        address.address
                 from user
                          left join address on
                     user.user_id = address.user_id
                 where user.user_id = #{openId}
                    or (address.user_id = #{openId} and is_check = 1)
             ) as s1
                 LEFT JOIN (select sum(arrears.money) as arre, arrears.user_id as arrears
                            from arrears
                            where arrears.user_id = #{openId}) as s2 on s1.user_id = s2.arrears
    </select>


    <select id="getUserArre" resultType="java.util.Map">
        SELECT l.id as aid, l.user_id as auser_id, l.username as aname, l.create_time as atime, orders.*
        FROM `arrears` as l
                 LEFT JOIN orders on l.order_id = orders.order_id
        where l.arruser_id = #{userId}
        ORDER BY l.create_time desc
    </select>
</mapper>